.content {
  color: wheat;
  width: 650px;
  height: 470px;
  position: absolute;
  left: 750px;
  top: 100px;
  padding: 20px;
}

.p {
  color: #cebfb4;
  font-size: 30px;
}

.line {
  border-left: 6px solid rgb(0, 0, 0);
  height: 300px;
  position: absolute;
  left: 25%;
  top: 25%;
}
