.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  animation: appear 2s 1;
}

.content {
  width: 650px;
  height: 470px;
  padding: 20px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1 {
  color: #e9f3ed;
  font-size: 60px;
}

.p {
  color: #cebfb4;
  font-size: 30px;
}

.img {
  height: 460px;
  width: 460px;
  border: 2px solid gray;
}

.backImg {
  background: url("https://legends.yonex.com/static/images/yonex-legends_pillar_sidebar-lines-3c91abf93d23bd85ff1f7fd7222c50a8-269.png")
    no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
