.nav {
  margin: 20px;
}

.menu {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.menuItem {
  list-style-type: none;
  border-radius: 20px;
  margin-right: 20px;
  padding: 10px;
  transition: background-color 1s linear;
}

.a {
  text-decoration: none;
  color: #bbbab8;
}

.menuItem:hover {
  background-color: white;
}

.menuItem:hover .a {
  color: black;
}

.contacts {
  position: absolute;
  top: 15px;
  left: 90%;
}

.btn {
  background-color: transparent;
  border: none;
  transition: font-size 1s linear;
}

.btn:hover {
  cursor: pointer;
  font-size: 15px;
}

.btn p {
  color: #8bfc69;
}

@media (max-width: 416px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0;
  }

  .menu {
    width: auto;
  }

  .menuItem {
    list-style-type: none;
    margin-right: 20px;
    padding: 0;
  }
  .contacts {
    position: static;
  }
}
