.nav {
  margin: 20px;
}

.menu {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.menuItem {
  list-style-type: none;
  margin-right: 20px;
  padding: 10px;
}

.menuItem:hover {
  border-radius: 20px;
  background-color: black;
}

.a {
  text-decoration: none;
  color: #bbbab8;
}

.contacts {
  position: absolute;
  top: 15px;
  left: 90%;
}

.btn {
  background-color: transparent;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.text {
  color: #8bfc69;
}

.overlay {
  z-index: 2;
  position: absolute;
  right: 5%;
  top: 70px;
}

.iconHref {
  padding: 5px;
  margin-top: 10px;
}

.icon {
  width: 50px;
  height: 50px;
}
