.nav {
  margin: 20px;
}

.menu {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.menuItem {
  list-style-type: none;
  margin-right: 20px;
  padding: 10px;
}

.menuItem:hover {
  border-radius: 20px;
  background-color: black;
}

.a {
  text-decoration: none;
  color: #bbbab8;
}

.contacts {
  position: absolute;
  top: 15px;
  left: 90%;
}

.btn {
  background-color: transparent;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.text {
  color: #8bfc69;
}

@media (min-width: 375px) {
  .nav {
    width: 200px;
    margin: 0;
  }
  .menuItem {
    list-style-type: none;
    margin-right: 10px;
    padding: 5px;
  }
  .contacts {
    position: absolute;
    top: 10px;
    left: 80%;
  }
}
