.container {
  display: flex;
}

.content {
  width: 650px;
  height: 470px;
  /* position: absolute;
  left: 750px;
  top: 100px; */
  padding: 20px;
}

.p {
  color: #cebfb4;
  font-size: 30px;
}

.wrapper {
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}

.line {
  border-left: 5px solid rgb(255, 255, 255);
  height: 150px;
  /* position: relative; */
  /* left: 410px;
  top: 200px; */
}

.img {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  /* position: relative; */
  border-radius: 50%;
  /* left: 363px;
  top: 350px; */
  animation: move 6s infinite;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
